
body {
  margin: 0;
  font-family: Arial, sans-serif, 'Inter UI', sans-serif;;

}

nav {
  background-color: #f7f7f7;
  display: flex;
  font-family: "Roboto Mono";
  z-index: 1;


}


.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 8px;
  position: fixed;
  z-index: 3;
  background-color: rgba(247, 247, 247, 1);
  width:104.8%;
  top: 0;
  justify-content: center;



}

.nav-links li {
  margin-right: 40px;


}

.nav-links li:last-child {
  margin-right: 50px;
}

.nav-links li a {
  font-size: 20px;
  text-decoration: none;
  color: black;
  transition: color 0.3s ease;
  transition: all 500ms;
  margin-left: 150px;
}

.nav-links li a:hover {

  font-size: 22px;
  font-size-adjust: 30px;
  font-weight: bold;
}
.pol1
{
  width: auto;
  display: flex;
  height:100vh;
  background: rgb(28,28,28);
  background: linear-gradient(180deg, rgba(28,28,28,1) 0%, rgba(18,18,18,1) 50%, rgba(28,28,28,1) 100%);
  font-family: "Noto Sans", sans-serif;
}
.footer
{
  background-color: rgba(91,91,91,1);
  height: 9vh;
  margin-top: -20px;


}
#c1
{
  font-size: 24px;
  font-weight: bold;

}
#c3
{
  font-size: 22px;
  font-weight: 700;
}
.footer p
{
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;
  padding: 30px;
  color: #e3e3e3;
  text-shadow: 1px 2px 2px black;
  font-size: 20px;


}


}
#kont1 li
{
  padding:20px;
}
#kont2 li
{
  padding:20px;
}
/* Dropdown Button */
.dropbtn {
  width: 360px;
  height: 60px;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: black;
  background: rgb(221,221,221);
  background: linear-gradient(180deg, rgba(221,221,221,1) 0%, rgba(144,144,144,1) 100%);
  border: none;
  border-radius: 20px;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 1);
}


.dropdown
{
  margin-left: 20%;
  margin-top: 5%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  width: 150%;
  height: 600px;
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 37px 13px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 37px 13px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 37px 13px rgba(0, 0, 0, 1);
  z-index: 1;
  margin-left: -25%;
  margin-top: 20%;
padding:10px;
}




/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show
{

  display:block;
}






.dropbtn2 {
  width: 360px;
  height: 60px;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: black;
  background: rgb(221,221,221);
  background: linear-gradient(180deg, rgba(221,221,221,1) 0%, rgba(144,144,144,1) 100%);
  border: none;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 1);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
}



/* The container <div> - needed to position the dropdown content */
.dropdown2
{
  margin-left: 25%;
  margin-top: 5%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content2 {
  display: none;
  width: 150%;
  height: 400px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 0px 37px 13px rgba(0, 0, 0, 1);
  z-index: 1;
  width: 150%;
  height: 600px;
  margin-left: -25%;
  margin-top: 20%;
  padding:10px;

}




.show2 {display:block;}


.dropbtn:hover, .dropbtn:focus {
  color: white;
  transform: translateY(-4px);
}




button::before {
content: '';
  border-radius: 30px;
  width: calc(360px + 12px);
  height: calc(60px + 12px);
  border: 6px solid #cdcdcd;
  -webkit-box-shadow: 0px 0px 21px 5px rgba(220, 220, 220, 1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
  z-index: 3px;
}
.dropbtn2:hover, .dropbtn2:focus {
  color: white;
  transform: translateY(-4px);
}

button:hover::before,
button:focus::before {
  opacity: 1;
}
button::after {
  content: '';
  width: 100%; height: 100%;
  border-radius: 30px;
  border: 6px solid #cdcdcd;
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 3s forwards;
}
button:hover::after, button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 372px;
    height: 72px;
    opacity: 1;
    border-radius: 30px;

  }
  100% {
    width: 50px;
    height: 60px;
    opacity: 0;
    border-radius: 30px;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    background: black;
  }
  100% {
    opacity: 1;
    background: gray;
  }
}

.dropdown-content,
.dropdown-content2
 {
  animation: fadeIn 0.5s ease-in; /* Ustaw animację */
}
